# Bilibili 会员购抢票配置

# 实名信息 (会员购下单必须)
BUYER_NAME=
BUYER_TEL=
BUYER_ID_CARD=

# 抢票参数
TARGET_PROJECT_ID=
TARGET_SCREEN_ID=
TARGET_SKU_ID=
TARGET_BUY_NUM=1
TARGET_SALE_TIME=

# 优化参数
PRE_FIRE_MS=150
NUM_PREWARM_CONNECTIONS=3
